<div id="experience" class="container h-100 ">
    <!-- container for title and line -->
    <div class="row mt-5">
        <div class="row">
            <div class="col-12 col-md-7 d-flex flex-column flex-md-row
                flex-lg-row">
                <div class=" col-md-4">
                    <h4></h4>
                </div>
                <div class=" col-md-9">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- container for Experience and Skills -->
    <div class="row mt-4">
        <!-- container for jobs -->
        <div class=" col-12 col-md-8">
            <div class="jobsContainer d-flex flex-column flex-md-row flex-lg-row
                row">
                <div class="job-btns col-12 col-md-3 d-flex flex-row
                    flex-md-column ">
                </div>
                <div class="col-12 col-md-9 job-info mt-3">
                    <div class="d-flex headings">
                        <div class="companyName">
                            <h5></h5>
                            <span></span>
                        </div>
                        <figure><img class="w-100" src="" alt=""></figure>
                    </div>

                    <div class="jobDescription">
                        <p class="mt-2"></p>
                        <ul class=""></ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- container for skills and projkects -->
        <div class="col-12 col-md-4 skills-projects-bg">

            <!-- container for skills -->
            <div class="skillsProjectsContainer">
                <div class="col-12 d-flex flex-column flex-md-row flex-lg-row
                    align-items-md-center">
                    <div class=" col-md-2">
                        <h6 class="titleSkills"></h6>
                    </div>
                    <div class=" col-md-9">
                        <hr>
                    </div>
                </div>
                <div class="d-flex flex-wrap skills ">

                </div>
            </div>
            <!-- container for projects -->
            <div class="skillsProjectsContainer mt-4">
                <div class="col-12 d-flex flex-column flex-md-row flex-lg-row
                    align-items-md-center">
                    <div class=" col-md-4">
                        <h6 class="titleProjects"></h6>
                    </div>
                    <div class=" col-md-8">
                        <hr>
                    </div>
                </div>
                <div class="d-flex flex-wrap projects">
                </div>
            </div>
        </div>
    </div>
</div>