<div id="services" class="container h-100 ">
    <div class="row mt-5">
        <div class="row">
            <div class=" col-md-1">
                <h4></h4>
            </div>
            <div class=" col-md-11">
                <hr>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-5 col-lg-5 leftServices d-flex flex-column
                justify-content-evenly"></div>
            <div class="col-12col-md-2 col-lg-2 avatar">
                <figure>
                    <img src="./../../Assets/img/logos/avatar.png" alt="">
                </figure>
            </div>
            <div class="col-12 col-md-5 col-lg-5 rightServices d-flex
                flex-column justify-content-evenly">
            </div>
        </div>
    </div>
</div>
