/* ************** NavBar style **************/
header nav {
  background: #222b31 !important;
  border-bottom: 4px solid #ee445f !important;
  font:12px Lato !important;
  text-transform:uppercase;
  letter-spacing:2px;
}

body{
  background-color: #192226d4;
}



